/* my css */

*{
    box-sizing: border-box;
}

img{
  display: block;
  width: 100%;
}

main {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 80rem;
  }

body{
    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa', cursive;
    line-height: 2rem;
    color: gray;
}

header{
position: relative;

}

header .content{
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}


h1,
h2,
h3, 
h4{
    font-family: 'Montserrat', sans-serif;
    color: #C44536;
    line-height: .5rem;
}


:root{
    --button-color: #283D3B;
  }
  
  *{
    box-sizing: border-box;
  }
  

  
  a{
    text-decoration: none;
    color: #6d214f
  }
  
  p{
    margin-bottom: 2rem;
  }
  
  
  .button{
    cursor: pointer;
    color: var(--button-color);
    border: 2px solid var(--button-color);
    padding: .5rem;
    border-radius: 7px;
    margin-right: 1rem;

    transition: background-color 600ms, color 600ms;
  }
  
  .button:hover{
    color: #fff;
    background-color:var(--button-color);
  }


